<div fxLayout="column" fxFlex="100%" fxFlexFill [class]="theme">

  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" fxFlexAlign="center">

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Address book</h1>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-radio-group
          aria-labelledby="radio-group-color"
          class="example-radio-group" [(ngModel)]="theme">
          <label>Color theme</label>
          <mat-radio-button value="my-theme">cyan
          </mat-radio-button>
          <mat-radio-button value="my-theme-custom">purple
          </mat-radio-button>
        </mat-radio-group>

        <button mat-button>
          Hello, {{userLoggedIn || 'user'}}
          <mat-icon>mood</mat-icon>
        </button>
        <button mat-button (click)="signOut()">
          <mat-icon>exit_to_app</mat-icon>
          Sign out
        </button>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" (click)="sidenav.toggle()">
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/contacts'">
          <mat-icon class="margin-right-5">perm_contact_calendar</mat-icon>
          <p>Contacts</p>
        </a>
        <a mat-list-item [routerLink]="'/contacts/add-new'">
          <mat-icon class="margin-right-5">person_add</mat-icon>
          <p>Add new contact</p>
        </a>
        <a mat-list-item [routerLink]="'/users'">
          <mat-icon class="margin-right-5">people_outline</mat-icon>
          <p>Users</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
