<mat-toolbar class="mat-elevation-z8">
  <h1>Contacts</h1>
  <div fxLayout="row" fxLayoutAlign="end end">
    <a mat-flat-button color="primary" class="button-add" [routerLink]="['add-new']">
      <mat-icon>person_add</mat-icon>
      Add new
    </a>
  </div>
</mat-toolbar>

<mat-spinner *ngIf="isLoadingContacts"></mat-spinner>

<div class="padding-30" [hidden]="!contacts.data.length">  <!-- hidden -> workaround -->

  <div fxLayout="row" fxLayoutAlign="end end">
    <mat-form-field class="width-20">
      <input matInput (keyup)="filterTable($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="contacts" matSort [@fade]="'in'" matSortActive="createdAt" matSortDirection="desc">

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
      <mat-cell *matCellDef="let contact">{{contact.firstName || '-'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let contact">{{contact.lastName || '-'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let contact">{{contact.email || '-'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
      <mat-cell *matCellDef="let contact">{{contact.country || '-'}}</mat-cell>
    </ng-container>   
    
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
      <mat-cell *matCellDef="let contact">{{contact.createdAt | date:'medium' || '-'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdBy">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created by</mat-header-cell>
      <mat-cell *matCellDef="let contact">{{contact.createdBy || '-'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last updated</mat-header-cell>
      <mat-cell *matCellDef="let contact">{{contact.updatedAt | date:'medium' || '-'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="updatedBy">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Updated by</mat-header-cell>
      <mat-cell *matCellDef="let contact">{{contact.updatedBy || '-'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Edit/Delete</mat-header-cell>
      <mat-cell *matCellDef="let contact">
        <a mat-flat-button color="primary" [routerLink]="[contact._id]">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-flat-button class="margin-left-5" color="warn" (click)="removeContact(contact)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons fxLayoutAlign="center center" [disabled]="!contacts.filteredData.length"></mat-paginator>
</div>

<div class="padding-30 align-center" *ngIf="(!contacts.data.length && !isLoadingContacts) || (contacts.filter.length && !contacts.filteredData.length)">
  <mat-card>
    <p>No contacts found.</p>
  </mat-card>
</div>
