@import '../../../../../styles/variables';

.error-message {
  p {
    color: red;
    font-size: $spacer-10;
  }
}

::ng-deep {
  .mat-dialog-container {
    width: 500px;

    mat-form-field {
      margin-top: $spacer-5;
    }
  }
}


