<mat-card ng-if="users.length" class="user-details-card" *ngIf="user$ | async as user" [@flyInOut]>
  <mat-card-header>
    <img mat-card-avatar class="user-detail-header-image" [src]="user.image">
    <mat-card-title>{{user.username}}</mat-card-title>
    <mat-card-subtitle>{{user.firstName}} {{user.lastName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      In this card you can only see details about the user that you have selected.
    </p>
    <mat-form-field class="full-width">
      <input matInput placeholder="Username" disabled [value]="user.username || '-'">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="First Name" disabled [value]="user.firstName || '-'">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Last Name" disabled [value]="user.lastName || '-'">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Age" disabled [value]="user.age || '-'">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" disabled [value]="user.email || '-'">
    </mat-form-field>
    <div *ngIf="user.image">
      <img  mat-card-image [src]="user.image" alt="Photo of a Shiba Inu">
    </div>
  </mat-card-content>
</mat-card>
