.user-details-card {
  max-width: 400px;
  margin: 0 auto;
}

.user-detail-header-image {
  background-image: url('https://pbs.twimg.com/profile_images/815785432248188928/cfYoIt5-_400x400.jpg');
  background-size: cover;
}

.user-image {
  width: 200px;
  height: 200px
}
